/parser.out
/parsetab.py
/src/mreorg/curator/static/javascript-moment/moment.js~
*.pyc
*.bak
*.swp
src/mreorg/curator/frontend/data/*
src/mreorg/curator/frontend/data/images/*
doc/_build/*
out.html

examples/_output/
