


{% extends "base.html" %}

{#
{% block postbody %}

    <script type="text/javascript">
    <!--
    function pageInit(){
        countdown_callback()
    }

    window.onload = pageInit
    -->
    </script>

{% endblock  %}
#}






{% block additional_header %}
<script type="text/javascript">

// Dajax callback functions:
function pass(data){
}


// Scripts local to this page:
function refresh_sim_list_view() {
    {% for sim_file in simfiles %}
    {%if sim_file.does_file_exist %}
    update_sim_gui({{sim_file.id}})
    {% endif %}
    {% endfor %}
}


function set_sim_file_status(id,state, is_in_queue)
{
    var is_in_queue_str = "SimNotQueued"
    if(is_in_queue == true){
        is_in_queue_str = "SimQueued"
    }


    // Set the class, for coloring:
    document.getElementById('SimFileID'+id).className = state + " " + is_in_queue_str;
    document.getElementById( "SimFileTDStatus"+id ).innerHTML = state

    var textTD = document.getElementById('SimFileID'+id).getElementsByTagName('a')[0];
    if( is_in_queue )
    {
        textTD.innerHTML = 'Cancel';
    }
    else
    {
        textTD.innerHTML = 'Run';
    }

}

function clearSimQueueCallback()
{
    refresh_sim_list_view();
}

function clear_sim_queue()
{
    Dajaxice.mreorg.curator.frontend.overview_clear_sim_queue(clearSimQueueCallback);
}

function toggle_sim_for_resubmit(id)
{
    Dajaxice.mreorg.curator.frontend.overview_toggle_simfile_for_resubmit(pass, {'simfile_id':id});
}



function resubmit_all_sims()
{
    {% for sim_file in simfiles %}
        {%if sim_file.does_file_exist %}
            Dajaxice.mreorg.curator.frontend.overview_resubmit_simfile(pass, {'simfile_id':{{sim_file.id}} });
            update_sim_gui({{sim_file.id}})
        {% endif %}
    {% endfor %}
}

function resubmit_all_failures()
{

    {% for sim_file in simfiles %}
    {%if sim_file.does_file_exist %}
        Dajaxice.mreorg.curator.frontend.overview_resubmit_simfile_if_failure(pass, {'simfile_id':{{sim_file.id}} });
        update_sim_gui({{sim_file.id}})
    {%endif %}
    {% endfor %}
}

function update_sim_gui_callback(data)
{
    var id = data.sim_id;
    var state = data.state
    var queued = data.is_queued

    set_sim_file_status(id, state, queued)

    // Update the Last Run Info and hrefs:
    var node = document.getElementById("SimFileLatestRun"+id)
    node.innerHTML =  data.latest_exec_date
    node.href =  "simfileruns/" + data.latest_exec_id
}

function update_sim_gui(sim_id)
{
    Dajaxice.mreorg.curator.frontend.overview_update_sim_gui(update_sim_gui_callback, {'simfile_id':sim_id});
}

function clickResubmitButton( sim_id )
{
    toggle_sim_for_resubmit(sim_id);
    update_sim_gui(sim_id);
}


function reloadPage()
{
    window.location="/";
}

function deleteSimFile(id)
{
    Dajaxice.mreorg.curator.frontend.overview_delete_simfile(reloadPage, {'simfile_id': id});
}


function deleteNonExistantFiles()
{
    {% for sim_file in simfiles %}
    {%if not sim_file.does_file_exist %}
    Dajaxice.mreorg.curator.frontend.overview_delete_simfile(pass, {'simfile_id': {{sim_file.id}} } );
    {% endif %}
    {% endfor %}

    reloadPage();

}


var timeOut = 60;
var time = 0;
function countdown_callback(){

    document.getElementById( "idUpdateBox" ).innerHTML = "Updating in "

    if(time ==0){
        time = timeOut;
        refresh_sim_list_view();
    }
    else{
        time = time -1;
        document.getElementById( "idUpdateBox" ).innerHTML = "Refresh("+ time +")"
    }
    setTimeout("countdown_callback()", 1000);
}




</script>
{% endblock %}









{% block contents %}
<div class='section' >
      <div class='sectionheader'>
          <h2><a>Overview</a></h2>
          <div class='actionbar'>
              <div class='inner'>
                  <ul>
                      <li> <a onclick="resubmit_all_sims()"><span>Submit-All<span></span></a></li>
                      <li> <a onclick="resubmit_all_failures()"><span>Submit-Failures<span></span></a></li>
                      <li> <a onclick="clear_sim_queue();" ><span>Clear-Queue</span></a></li>
                      <li> <a onclick="refresh_sim_list_view()" ><span id='idUpdateBox'>Refresh</span></a></li>
                  </ul>
              </div>
          </div>
      </div>

      <div class='sectioncontents'>


    <table class='std'>
        <tbody>

        <tr>
          <th width="5%"> Queue</th>
          <th width="10%"> Status </th>
          <th width="20%"> File </th>
          <th width="5%"> Last Run </th>
          <th width="5%"> Sim Time </th>
          <th width="30%"> DocString </th>
        </tr>


        {% for sim_file in simfiles %}

        {% if sim_file.does_file_exist %}
        <tr class="" id="SimFileID{{sim_file.id}}">
            <td class="Toggle interactive"> <a onclick="clickResubmitButton({{sim_file.id}})" > -- </a>  </td>
            <td class="Status" id="SimFileTDStatus{{sim_file.id}}"> {{ sim_file.get_status }} </td>
            <td> <a href="/simfiles/{{sim_file.id}}"> {{sim_file.get_short_filename }} </a> </td>
            <td> <a id="SimFileLatestRun{{sim_file.id}}" href="/simfileruns/{{sim_file.get_latest_run.id}}">{{sim_file.get_latest_run.execution_date|timesince}} A </a></td>
            <td> <a id="SimFileLatestRun{{sim_file.id}}">{{sim_file.get_latest_run.execution_time}} s</a></td>
            <td> {{sim_file.get_docstring}} </td>
        </tr>

        {% else %}
        <tr class="" id="SimFileID{{sim_file.id}}">
            <td class="Toggle"> <a onclick='deleteSimFile({{sim_file.id}});'> Delete </a>  </td>
            <td class="Status"> <a>  [File does not exist] </a> </td>
            <td> <a> {{sim_file.get_short_filename }} </a> </td>
            <td> <a> </a></td>
            <td> </td>
        </tr>
        {% endif %}


        {% endfor %}

        </tbody>
    </table>
</div>




{% endblock %}

