



{% extends "base.html" %}



{% block contents %}



{% for loc, sim_files in simulation_files %}

<div class="section">

    <div class='sectionheader'> <h2>{{loc}}/</h2> </div>

    {% for sim_file in sim_files %}

    <div class="subsection">
        <h3> {{loc}} : <a href="/simulationfiles/{{sim_file.id}}">{{sim_file.get_short_filename}}</a> </h3>

        <div class="SummaryFileDescription">
            <pre> {{sim_file.get_docstring}} </pre>
        </div>


        {% if sim_file.get_latest_run %}
            {% for i in sim_file.get_latest_run.output_images.all %}
            <a href="/image/{{i.hash_name_short}}">
                <img src="/image/{{i.hash_thumbnailname_short}}"/>
            </a>

            {% endfor %}
        {% else %}
        [Never been run]: 
        {% endif %}
    </div>



  {% endfor %}
  </div>
{% endfor %}

{% endblock  %}

